<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
        <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
    </head>
</head>
<body>
<h2 class="text-center">SSM框架整合（分页查询）案例</h2>
<hr/>
<form action="/user/login" method="post" class="form-inline text-center">
    <label>username:</label>
    <input type="text" class="form-control" name="username"/>
    <br/>
    <br/>
    <label>password:</label>
    <input type="password" class="form-control" name="password"/>
    <br/>
    <br/>
    <input type="submit" value="登录" class="btn btn-default"/>
</form>
</body>
</html>